<h1> <%= @data[:title] %> </h1>

<h2> <%= @data[:story] %> </h2>

<a href=<%= "/decision/" %> > <%= + @data[:data][0] %> </a>

<br>

<a href=<%= "/decision/" %> > <%= + @data[:data][1] %> </a>








